<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.metadata.lang %>">
<head>

    <title><%= htmlWebpackPlugin.options.metadata.title %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.title %>">

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
</head>

<body>

<np-app>
    Loading...
</np-app>

</body>
</html>
